@model DemoKhaled.BL.Models.EmployeeVm
@*//this line is indicator to the asp-for attribute which tell it i knew the Name from the data which is passed to me*@
@{
    ViewData["Title"] = "detailes";
}

<h2>Detailes</h2>
<label asp-for="Name">Name</label>
<input class="form-control" type="text" asp-for="Name" disabled />
<span asp-validation-for="Name"></span>
<br />
<label asp-for="DepartmentId">Department Id</label>
<input class="form-control" type="text" asp-for="DepartmentId" disabled />
<span asp-validation-for="DepartmentId"></span>
<br />
<label asp-for="salary">Salary</label>
<input class="form-control" type="text" asp-for="salary" disabled />
<span asp-validation-for="salary"></span>

<br />
<label asp-for="Emial">Emial</label>
<input class="form-control" type="text" asp-for="Emial" disabled />
<span asp-validation-for="Emial"></span>

<br />
<label asp-for="Address">Address</label>
<input class="form-control" type="text" asp-for="Address" disabled />
<span asp-validation-for="Address"></span>

<br />
<label asp-for="HireDate">Hire Date</label>
<input class="form-control" type="text" asp-for="HireDate" disabled />
<span asp-validation-for="HireDate"></span>

<br />
<label asp-for="Notes">Notes</label>
<textarea class="form-control" type="text" asp-for="Notes" disabled></textarea>
<span asp-validation-for="Notes"></span>

<br />
<select asp-items="(SelectList)ViewBag.DepartmentList" asp-for="DepartmentId">
    <option>Choose the department</option>
</select>

<br />
<select id="CountryList">
    <option>choose Country</option>

</select>
<select id="City">
    <option>Choose City</option>
</select>
<select asp-for="DistrictId">
    @*asp-for is only here because  DistrictId is the only field in the Employee object*@
    <option>choose Distinct</option>

</select>


<Center>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="Index">Return</a>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="Delete"> Delete</a>
    <a class="btn btn-danger" asp-controller="Employee" asp-action="Update">Update</a>


</Center>

@section selectBootstrab {
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}
@section Microsoft_validation{ 
    <script>
        $(function () {



        })

    </script>
}